@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PUBLIC TRAPPHIC</h1>
    <p class="lead">Trenutno niste logovani, molimo prijavite se ili ako nemate račun registrirajte se. Team TrApphic.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            Za korisnike koji su se registrovali i koji žele koristiti aplikaciju.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52970/Korisniks/Login">Prijavi se..</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Za korisnike koji nemaju account na našoj stranici, a žele da iskoriste sve pogodnosti koje ista nudi.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52970/Korisniks/Create">Registriraj se..</a></p>
    </div>
</div>